# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\rp\wskt\fluent-query-kotlin-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
